<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{'graphe_hopitaux' | translate}}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart">
                                <canvas id="area" class="chart chart-bar" chart-data="barChartData" chart-labels="barChartLabels" chart-legend="false" chart-series="barChartSeries" chart-click="vm.onClick" chart-colours="barChartColours" style="height: 250px;">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
