<!--<section class="content-header">
    <h1>Vaccin <small>Mise à jour du vaccin</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a ui-sref="app.vaccinlist">Liste des vaccins</a></li>
        <li class="active">Mise à jour du vaccin</li>
    </ol>
</section>-->
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Compte médecin</h3>
                </div>
                <form class="form-horizontal" name="userForm" ng-submit="vm.save_compte()" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Adresse email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" ng-model="vm.email" name="email" placeholder="email" required>
                                <p ng-show="userForm.email.$error.required" class="help-block">L'adresse email est requise.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Numero de telephone</label>
                            <div class="col-sm-10">
                                <input type="tel" class="form-control" ng-model="vm.tel" name="tel" placeholder="telephone" required>
                                <p ng-show="vm.phone_invalid" class="help-block">Le numero de telephone est invalide.</p>
                                <!--<p ng-show="userForm.email.$error.email  && ( vm.formSubmitted || userForm.email.$touched)" class="help-block">This is not a valid email.</p>-->
                            </div>
                        </div>
                     </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Valider</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>


<!--ici le fichier excel des medecins-->

<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Fichier excel des médecins</h3>
                </div>
                <form class="form-horizontal" name="userFor" ng-submit="vm.save_fichier()" enctype="multipart/form-data">
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fichier</label>
                            <div class="col-sm-10">
                                <input type="file" class="form-control" ng-model="vm.fichier" name="file" required>
                            </div>
                        </div>
                     </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">Update</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
